{ box-sizing: border-box; background-color: black;
}

html, body {
  font-family: 'Indie Flower';
  margin: 0;
  height: 100%;
  color: green;
}


.botonprimerafila {
  float: left;
  width: 33.333333%;
  height: 18%;
  background-color: gray;
  font-size: 100px;
}

#resultado {
  width: 100%;
  height: 10%;
}
